@model ChangePassword
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>修改密码</h2>
<p>
    修改用户密码
</p>
@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <legend>修改密码</legend>
            <div class="editor-label">
                旧密码
            </div>
            <div class="editor-field">
                <input id="oldpassword" name="oldpassword" type="text"/>
            </div>
        </fieldset>
    </div>
}