@model MakeDecision.Web.Models.KeyData

@{
    ViewBag.Title = "添加数据";
}

<h2>添加数据</h2>

@using (Html.BeginForm("Create", "KeyData", new {categoryId = ViewBag.CategoryId}, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>数据</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="添加" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回列表", "Index", new { categoryId = ViewBag.CategoryId})
</div>