@model MakeDecision.Web.Models.Category

@{
    ViewBag.Title = "[" + Model.CategoryName + "] 数据管理";
}

<h2>[@Model.CategoryName] 数据管理</h2>

<p>
    @Html.ActionLink("新增", "Create", "KeyData", new { categoryId = Model.Id }, null) |
    @Html.ActionLink("返回首页", "Index", "Home")
</p>
@Html.Partial("SharedList", Model)
@Html.Pager((int)ViewBag.PageSize, (int)ViewBag.CurrentPage, (int)ViewBag.TotalCount).Options( o => o.AddRouteValue("categoryId", Model.Id))