@model MakeDecision.Web.Models.Category

@{
    ViewBag.Title = "新建分类";
}

<h2>新建分类</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>分类</legend>
		@Html.Partial("_CreateOrEdit", Model)
        <p>
            <input type="submit" value="新建" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>


