@model MakeDecision.Web.Models.Category

@{
    ViewBag.Title = "删除";
}

<h2>删除</h2>

<h3>你确定要删除吗？</h3>
<fieldset>
    <legend>分类</legend>

    <div class="display-label">分类名称</div>
    <div class="display-field">@Model.CategoryName</div>

    <div class="display-label">所在部门</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Department).ToString()</div>

    <div class="display-label">更新周期</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Cycle).ToString()</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="确定删除" /> |
        @Html.ActionLink("返回分类列表", "Index")
    </p>
}


