@model MakeDecision.Web.Models.Department

@{
    ViewBag.Title = "新建";
}

<h2>新建</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>部门</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="创建部门" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>


