@model MakeDecision.Web.Models.Cycle

@{
    ViewBag.Title = "新建数据更新周期";
}

<h2>新建数据更新周期</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>数据更新周期</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="创建" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>


