@{
    ViewBag.Title = "选择需要的功能";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>在上面选择需要的功能</h2>
<p>
    管理员后台可以：
</p>
<ol>
    <li>管理用户</li>
    <li>添加、删除、修改部门资料</li>
    <li>管理数据分类</li>
    <li>管理数据单位</li>
    <li>管理更新周期</li>
</ol>
