@model IEnumerable<MakeDecision.Web.Models.Category>
@{
    ViewBag.Title = "首页";
}
@*
1. Get User Info
2. Get User Department
3. Get ALL Categories of Department
4. Get newest 2 Datas of Category
*@
@*分类循环*@
@foreach (var c in Model)
{
<div style="width: 897px;">
    <div style="padding:10px 0 10px 0;height:30px;">
        <span style="padding-right: 20px;">@c.CategoryName</span>
        <span>
            @Html.ActionLink("添加", "Create", "KeyData", new RouteValueDictionary {{"categoryId", c.Id}}, null) | 
            @Html.ActionLink("全部", "Index", "KeyData", new RouteValueDictionary { { "categoryId", c.Id } }, null)
        </span>
    </div>
    @Html.Partial("~/Views/KeyData/SharedList.cshtml", c)
</div>
}